## Accessing Databases with Python

Accessing databases with Python involves using database libraries/modules that provide interfaces to interact with various database management systems (DBMS) such as SQLite, MySQL, PostgreSQL, Oracle, SQL Server, etc.

The common steps in accessing a database with python are:

1. Set up a database client library and load the database credentials


2. Create an engine


3. Establish connection to the database using the engine


4. Execute SQL queries with the connection


5. Process/fetch query results


6. Close connection to cursor and database


7. Handle Errors and Exceptions

**Set up a database client library**

You can use a package manager like ```pip``` to install the Python library or module that provides connectivity to the chosen DBMS. This library will allow your Python code to communicate with the database.

Common DB client libraries are:

```psycopg2``` for Postgres Databases

```cx_Oracle``` for Oracle Databases

```pyodbc``` for SQL Server

```pymongo``` for Mongo DB

`sqlalchemy` provides a wrapper for all the libraries above

In [ ]:
# installing pyscopg2 
!pip install psycopg2
!pip install sqlalchemy

# you only need to install a particular package once

In [10]:
# import the library
import os
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import pandas as pd

In [2]:
# Load the variables from the .env file
load_dotenv(override=True)

# Get the database connection details from environment variables
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')

**Creating a SQL alchemy Engine**

Create a sqlalchemy engine to the database by providing database parameters such as the database ```name```, ```host```, ```port```, ```username```, and ```password```.

To establish connection, the common method is ```connect``` method on the engine object

In [3]:
# Create the connection URL for SQLAlchemy
database_url = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

# Create an engine
engine = create_engine(database_url)

#### Creating a Connection

The connection holds a cursor object that allows you to interact with a database by executing SQL queries and fetching results. A cursor in this context is similar to the query editor you open when you connect to a DBMS (such as pgAdmin2)

In [9]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM actor"))
    rows = result.fetchall()  # Fetch all records
    for row in rows:
        print(row)

(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))

In [11]:
## using pandas and the connection
query = "SELECT * FROM actor"
with engine.connect() as connection:
    df = pd.read_sql(query, con=connection)

### SQL DDL (Create, Alter, Drop, Truncate) using Python DB Connection

In [13]:
# Define the SQL statement for creating a table
sql_query = """
CREATE TABLE demo_table (
    column1 integer,
    column2 integer)
"""

# Execute the SQL statement
with engine.connect() as connection:
    result = connection.execute(text(sql_query))


print("Table created successfully!")

Table created successfully!

### SQL DML (Insert, Update, Delete) using Python DB Cursor

In [17]:
# Define the SQL statement for insertion with named placeholders
sql_query = "INSERT INTO demo_table (column1, column2) VALUES (:col1, :col2)"

# Define the data to be inserted
data = {'col1': '1', 'col2': '2'}

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_query), data)

    # Commit the transaction
    connection.commit()  # Use `commit()` only if using an explicit transaction

print("Data inserted successfully!")

Data inserted successfully!

In [18]:
#insert multiple rows

# Define the SQL statement for insertion with named placeholders
sql_query = "INSERT INTO demo_table (column1, column2) VALUES (:col1, :col2)"

# Define the data to be inserted as a list of dictionaries
data = [
    {'col1': '1', 'col2': '2'},
    {'col1': '3', 'col2': '4'},
    {'col1': '5', 'col2': '6'},
]

# Execute the SQL statement with multiple sets of values
with engine.connect() as connection:
    connection.execute(text(sql_query), data)

    # Commit the transaction
    connection.commit()  # Commit if using an explicit transaction

print("Multiple rows inserted successfully!")

Multiple rows inserted successfully!

### CLASSWORK

1. Create a new Database in Postgres using Python


2. Create a table named students (name, address, class, age) in the Database


3. Alter the Schema of the table (make age to be varchar)


4. Insert one row of data into the table


5. Insert multiple rows of data into the table


6. Delete data from the table


7. Drop the Table


8. Drop the Database