## Accessing Databases with Python

Accessing databases with Python involves using database libraries/modules that provide interfaces to interact with various database management systems (DBMS) such as SQLite, MySQL, PostgreSQL, Oracle, SQL Server, etc.

The common steps in accessing a database with python are:

1. Set up a database client library and load the database credentials


2. Create an engine


3. Establish connection to the database using the engine


4. Execute SQL queries with the connection


5. Process/fetch query results


6. Close connection to cursor and database


7. Handle Errors and Exceptions

**Set up a database client library**

You can use a package manager like ```pip``` to install the Python library or module that provides connectivity to the chosen DBMS. This library will allow your Python code to communicate with the database.

Common DB client libraries are:

```psycopg2``` for Postgres Databases

```cx_Oracle``` for Oracle Databases

```pyodbc``` for SQL Server

```pymongo``` for Mongo DB

`sqlalchemy` provides a wrapper for all the libraries above

In [ ]:
# installing pyscopg2 
!pip install psycopg2
!pip install sqlalchemy
!pip install python-dotenv

# you only need to install a particular package once for a python environment(already installed)

In [28]:
# import the library
import os
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import pandas as pd

In [29]:
#loading my credentials
load_dotenv()

True

In [30]:
# Load the variables from the .env file
load_dotenv(override=True)

# Get the database connection details from environment variables

# credentials
host = os.getenv('db_host')
username = os.getenv('db_user')
password = os.getenv('db_password')
port = os.getenv('db_port')
db_name = os.getenv('db_name')

**Creating a SQL alchemy Engine**

Create a sqlalchemy engine to the database by providing database parameters such as the database ```name```, ```host```, ```port```, ```username```, and ```password```.

To establish connection, the common method is ```connect``` method on the engine object

In [31]:
# Create the connection URL for SQLAlchemy
database_url = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{db_name}"

# Create an engine
engine = create_engine(database_url)

#### Creating a Connection

The connection holds a cursor object that allows you to interact with a database by executing SQL queries and fetching results. A cursor in this context is similar to the query editor you open when you connect to a DBMS (such as pgAdmin2)

In [34]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM members"))
    rows = result.fetchmany(7)  # fetchall - Fetch all records/ fetchmany - fetch few
    for row in rows:
        print(row)

(1, 'Justin Aguirre', 'Lake Alexandra', datetime.date(2019, 12, 28))
(2, 'Cynthia Yang', 'Collinstown', datetime.date(2022, 10, 27))
(3, 'Thomas Smith', 'Thomasburgh', datetime.date(2022, 7, 20))
(4, 'Deborah Burns', 'West Claire', datetime.date(2020, 8, 21))
(5, 'David Hunter', 'Brandonport', datetime.date(2023, 1, 3))
(6, 'Hannah Shaw', 'Mejiaberg', datetime.date(2021, 10, 5))
(7, 'Victoria Johnson', 'New Cynthiatown', datetime.date(2023, 12, 24))

In [35]:
## using pandas and the connection
with engine.connect() as connection:
    query = "SELECT * FROM members"
    df = pd.read_sql(query, con=connection)

In [36]:
df

    member_id             name                city   join_date
0           1   Justin Aguirre      Lake Alexandra  2019-12-28
1           2     Cynthia Yang         Collinstown  2022-10-27
2           3     Thomas Smith         Thomasburgh  2022-07-20
3           4    Deborah Burns         West Claire  2020-08-21
4           5     David Hunter         Brandonport  2023-01-03
..        ...              ...                 ...         ...
95         96  Abigail Ellison  East Amandaborough  2019-07-14
96         97      Sally Gomez     Christopherview  2020-03-02
97         98   Denise Kaufman    West Ronaldville  2023-01-31
98         99   Michael Hughes        Trujilloview  2019-12-01
99        100     Cathy Osborn          Floresstad  2021-07-30

[100 rows x 4 columns]

### SQL DDL (Create, Alter, Drop, Truncate) using Python DB Connection

In [ ]:
# Define the SQL statement for creating a table
sql_query = """
                CREATE TABLE practice_table(
                id int,
                name text)
             """
# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_query))
    connection.commit()


print("Table created successfully!")

### SQL DML (Insert, Update, Delete) using Python DB Cursor

In [52]:
sql_query = '''
               Insert into practice_table (id, name)
               values (:id, :name)
            '''
data = {'id': 1, 'name': 'chu'}
#execute the insert
with engine.connect()as connection:
    connection.execute(text(sql_query),data)

     #commit
    connection.commit()
    

print('data sucessfully inserted')

data sucessfully inserted

In [64]:
sql_query = '''
               Insert into practice_table (id, name)
               values (:id, :name)
            '''
data =[{'id': 1, 'name': 'chu'},
        {'id': 3, 'name': 'kehinde'},
        {'id': 4, 'name': 'ike'},
        {'id': 4, 'name': 'marian'},
        {'id': 5, 'name': 'onibiyo'}
        
]
#execute the insert
with engine.connect()as connection:
    connection.execute(text(sql_query),data)

     #commit
    connection.commit()
    

print('data sucessfully inserted')

data sucessfully inserted

In [69]:
sql_query = '''
               delete from practice_table
             where  id not in ( 
             select min(id)
             from pratice_table
             group by id
             );

            '''

In [71]:
sql_query = '''
               select distinct id 
               from practice_table
               '''

### CLASSWORK

1. Create a new Database in Postgres using Python


2. Create a table named students (name, address, class, age) in the Database


3. Alter the Schema of the table (make age to be varchar)


4. Insert one row of data into the table


5. Insert multiple rows of data into the table


6. Delete data from the table


7. Drop the Table


8. Drop the Database